<h2>Nuevo registro (reactivo)</h2>
<div id="contenido">
    <div class="formulario">
        <form [formGroup]="formulario" (ngSubmit)="enviarDatos()">
          <div>
            <label for="id">Identificador</label>
            <input type="number" id="id" name="id" class="corto obligatorio" step="100" formControlName="identificador">
            <span [hidden]="formulario.controls.identificador.valid || formulario.controls.identificador.pristine || !formulario.controls.identificador.errors?.['required']">Es obligatorio</span>
            <span [hidden]="formulario.controls.identificador.valid || formulario.controls.identificador.pristine || !formulario.controls.identificador.errors?.['min']">El valor mínimo es {{formulario.controls.identificador.errors?.['min']?.min}}</span>

          </div>

          <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="obligatorio" formControlName="nombre">
            @if(formulario.controls.nombre.invalid && formulario.controls.nombre.dirty && formulario.controls.nombre.hasError('minlength')) {
              <span>El tamaño mínimo es {{formulario.controls.nombre.errors?.['minlength']?.requiredLength}}</span>
            }
            
            @if(formulario.controls.nombre.invalid && formulario.controls.nombre.dirty && formulario.controls.nombre.hasError('required')) {
              <span>Es obligatorio</span>
            }

          </div>
          
          <div>
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" class="obligatorio" formControlName="apellidos">
            <span [hidden]="comprobar(formulario.controls.apellidos,'minlength')">El tamaño mínimo es {{formulario.controls.apellidos.errors?.['minlength']?.requiredLength}}</span>
            <span [hidden]="comprobar(formulario.controls.apellidos,'required')">Es obligatorio</span>
          </div>
      
          <div>
            <label for="correo">Correo electrónico</label>
            <input type="text" id="correo" name="correo" class="obligatorio" formControlName="correo">
            <span [hidden]="comprobarCorto('correo','required')">Es obligatorio</span>
            <span [hidden]="comprobarCorto('correo','pattern')">No tiene aspecto de correo</span>
          </div>
          
          <div>
            <label for="fecha">Fecha de incorporación</label>
            <input type="date" id="fecha" name="fecha" class="corto obligatorio" formControlName="fecha">  
            <span [hidden]="comprobarCorto('fecha','required')">Es obligatorio</span>
            <span [hidden]="comprobarCorto('fecha','fechamin')">La fecha debe ser del "{{formulario.controls.fecha.errors?.['fechamin']?.fechamin}}" en adelante</span>
           </div>
         
          <div>
            <label for="salario">Salario medio anual</label>
            <input type="number" id="salario" name="salario" class="corto" formControlName="salario">  
            @if(!comprobarCorto('salario','min')) {
              <span>El valor mínimo es {{formulario.controls.salario.errors?.['min']?.min}}</span>
            }
            @if(!comprobarCorto('salario','max')) {
              <span>El valor máximo es {{formulario.controls.salario.errors?.['max']?.max}}</span>
            }
          </div>
         
          <div>
            <label for="tipo">Tipo</label>
            <select id="tipo" name="tipo" class="corto obligatorio" formControlName="tipo">
                @for(valor of valoresTipo;track valor) {
                    <option value="{{valor}}">
                        @switch (valor) {
                            @case('E') {Con Mucha experiencia}
                            @case('M') {Habituado al trabajo}
                            @case('P') {Nociones básicas}
                            @case('D') {Sin información}
                        } 
                    </option>
                }
            </select>
          </div>
          <input type="submit" value="Registrar nueva persona" [disabled]="formulario.invalid">
        </form>
      </div>

      <div class="parrafo">
        @if(mensajeEnviado()) {
          <h2 class="bien">Los datos se han guardado correctamente.</h2>
        }
       
        @if(mensajeError()) {
          <h2 class="mal">Los datos no se han almacenado. El identificador ya existe.</h2>
        }
        
        <p> Los datos leídos del formulario son:</p>
        <div class="fila">
        <p>
          id:<br>
          nombre:<br>
          apellidos:<br>
          correo:<br>
          fecha:<br>
          salario:<br>
          tipo:
        </p>          
        <p>
          <b>{{formulario.controls.identificador.value}}</b><br>
          <b>{{formulario.controls.nombre.value}}</b><br>
          <b>{{formulario.controls.apellidos.value}}</b><br>
          <b>{{formulario.controls.correo.value}}</b><br>
          <b>{{formulario.controls.fecha.value}}</b><br>
          <b>{{formulario.controls.salario.value}}</b><br>
          <b>{{formulario.controls.tipo.value}}</b>
          </p>
        </div>

        <p> Algunas propiedades del formulario son:</p>
        <div class="fila">
          <p>
            status:<br>
            valid / invalid:<br>
            pristine / dirty:<br>
            touched /untouched:
          </p>         
          <p>
            <b>{{formulario.status}}</b><br>
            <b>{{formulario.valid}} / {{formulario.invalid}}</b><br>
            <b>{{formulario.pristine}} / {{formulario.dirty}}</b><br>
            <b>{{formulario.touched}} / {{formulario.untouched}}</b>
          </p>
        </div>  

        <p>Los valores de los campos de "identificador"son:</p>
        <div class="fila">
          <p>
            status:<br>
            valid / invalid:<br>
            pristine / dirty:<br>
            touched /untouched:
          </p>         
          <p>
            <b>{{formulario.controls.identificador.status}}</b><br>
            <b>{{formulario.controls.identificador.valid}} / {{formulario.controls.identificador.invalid}}</b><br>
            <b>{{formulario.controls.identificador.pristine}} / {{formulario.controls.identificador.dirty}}</b><br>
            <b>{{formulario.controls.identificador.touched}} / {{formulario.controls.identificador.untouched}}</b>
            </p>
        </div>  
      </div>
     
</div>



  