<h2>Los gatos y sus manías</h2>
<img src="/assets/gato.jpg"/>
@if(deNuevo()) {
    <p class="aviso">Has dibujado al gato desde el menú de "experimentos"</p>
}
<p>Nam faucibus velit imperdiet, viverra eros a, tristique quam. In mi metus, congue vel iaculis ut, tristique eu felis. Phasellus et cursus urna, eu fringilla libero. Donec vulputate justo id risus porttitor, a euismod sem porta. Maecenas ligula sem, convallis non dapibus id, pulvinar at tellus. Aliquam nec orci felis. Morbi pharetra felis velit.</p>

