table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border:1px solid #202030;
    padding:0.5em;
}

thead td {
    background-color: #202030;
    color: #fafafa;
    border:1px solid #668;
}

