#fondo {
    background-color: rgba(40,40,40,0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    left: 0px;
}

#cuadro {
    width: 500px;
    position: relative;
    margin:10% auto;
    background-color:#f0f0f0;
    padding: 1em;
    border: 2px solid #505050;
    border-radius: 2em;
}

article {
    min-height: 100px;
}

header {
    border-bottom:2px solid #505050;
}

footer {
    border-top:2px solid #505050;
    
}

footer p {
    text-align: center;
}

footer p button {
    padding: 0.5em;
    border:1px solid #c0c0c0;
    border-radius: 0.5em;
    cursor: pointer;
}

footer p button:hover {
    background-color: #e0e0e0;
}

.oculto {
    display: none;
}
