
header, nav, footer {
    margin: 0px;
    background-color: #dcc;
    padding: 0px 10%;
}

header, footer {
    overflow: hidden;
}

footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0px;
    bottom:0px;
}

footer p {
    text-align: right;
}

article {
    padding-bottom: 2em;
    margin: 5px 10%;
}

h2 {
    margin-top:3em;
}

