<header>
  <h1>Directivas de atributo personalizadas</h1>
</header>


<article>
  <h2>Directiva "mayusculas"</h2>
  <p [mayusculas]="true">Ejemplo de aplicación (true)</p>
  <p [mayusculas]="false">Ejemplo de aplicación (false)</p>

  <h2>Direcitva "mínimo" (v1 y v2)</h2>
  <p>
    Ejemplo de cuadro de texto y directiva "minimo (V1)"<br>
    <input type="text" [minimoV1]="4">
  </p>
  <p>
    Ejemplo de cuadro de texto y directiva "minimo (V2)"<br>
    <input type="text" [minimoV2]="4">
  </p>

  <div fondo>
    <h2>Directiva "fondo"</h2>
    <p>Al hacer "click" en cualquier parte de la división cambia el color de fondo</p>
  </div>

 

<!--
<app-ejemplo-de-uso></app-ejemplo-de-uso>
-->
</article>

<footer>
<p>Pie de página</p>
</footer>


