<header>
  <h1>Ejercicio 10 B</h1>
</header>


<article>
  <p [aumentar]="'12pt'">Este párrafo aumentará de tamaño cada vez que hagas click sobre él. Por simplificar el ejemplo (tienes que convertir textos a números y viceversa) presupongo que el tamaño del texto siempre se define con "puntos". Comienza con "12pt".</p>



  <hr>

  <p>
    La imagen rotará sobre su centro cada vez que le hagas click.<br/>
    <img src="/assets/img/cara.jpg" [rotar]="10"/>
  </p>
</article>

<footer>
<p>Pie de página</p>
</footer>


