header, footer {
    margin: 0px;
    background-color: #303060;
    padding: 0px 10%;
}

header, footer {
    overflow: hidden;
}

footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0px;
    bottom:0px;
}

footer p {
    text-align: right;
}

header h1, footer p{
    color:#f0f0ff;
}

article {
    padding-bottom: 2em;
    margin: 5px 10%;
}
