p, h1, h2, td, th, ul, li, ol, input, select, option, button, textarea {
    font-family: Calibiy, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    text-align: justify;
    color:#303030;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 16pt;
}


body {
    background-color: #f0f0f0;
    margin: 0px;
    position: relative;
    width: 100%;
}
