<header>
  <h1>Ejercicio 10 A</h1>
</header>


<article>
  <h2>Ejemplo de traducir "complejo"</h2>

  <p>El texto "198": {{'198' | traducir}}</p>
  <p>El texto "VZ198": {{'VZ198' | traducir}}</p>
  <p>El texto "00381": {{'00381' | traducir}}</p>
  <hr>

  <p>El número 9834: {{9834 | traducir}}</p>
  <p>El número 452: {{452| traducir}}</p>
  <hr>

  <p>El número 9834 en hexadecimal: {{9834 | traducir:'h'}}</p>
  <p>El texto "198" en hexadecimal: {{'198' | traducir:'h'}}</p>

</article>

<footer>
<p>Pie de página</p>
</footer>

