<form [formGroup]="form" (ngSubmit)="hacerSubmit()">
  <div>
    <label for="referencia">Referencia de producto</label>
    <input type="text" id="referencia" formControlName="referencia" class="corto" />
    @if (campoInvalido('referencia','minlength')) {
      <span>El tamaño mínimo es {{ form.get('referencia')?.errors?.['minlength']?.requiredLength }}</span>
    }
    @if (campoInvalido('referencia','required')) {
      <span>Es obligatorio</span>
    }
  </div>

  <div>
    <label for="nombre">Nombre de producto</label>
    <input type="text" id="nombre" formControlName="nombre" />
    @if (campoInvalido('nombre','minlength')) {
      <span>El tamaño mínimo es {{ form.get('nombre')?.errors?.['minlength']?.requiredLength }}</span>
    }
    @if (campoInvalido('nombre','required')) {
      <span>Es obligatorio</span>
    }
  </div>

  <div>
    <label for="precio">Precio de compra</label>
    <input type="number" id="precio" formControlName="precio" />
    @if (campoInvalido('precio','min')) {
      <span>El precio mínimo es {{ form.get('precio')?.errors?.['min']?.min }}</span>
    }
    @if (campoInvalido('precio','max')) {
      <span>El precio máximo es {{ form.get('precio')?.errors?.['max']?.max }}</span>
    }
    @if (campoInvalido('precio','required')) {
      <span>Es obligatorio</span>
    }
  </div>

  <div>
    <label for="fechaAlta">Fecha de adquisición</label>
    <input
      type="date"
      id="fechaAlta"
      formControlName="fechaAlta"
      [attr.min]="(fechaMin | date :'yyyy-MM-dd')"
    />
    @if (campoInvalido('fechaAlta','required')) {
      <span>Es obligatorio</span>
    }
  </div>

  <div>
    <input type="submit" [value]="mensaje" [disabled]="form.invalid" />
    <input type="reset" value="Borrar" (click)="form.reset()" />
  </div>
</form>