<form [formGroup]="formulario" (ngSubmit)="valor() ? modificar() : crear()">
<table  [ngClass]="{enEspera: esperandoFormulario()}">
    <tr>
        <td>
            <label>Identificador</label>
        </td>
        <td>
            <input type="number" formControlName="id" step="10" min="1" >
        </td>
    </tr>
    <tr>
        <td>
            <label>Nombre</label>
        </td>
        <td>
            <input type="text" formControlName="nombre">
        </td>
    </tr>
    <tr>
        <td>
            <label>Precio</label>
        </td>
        <td>
            <input type="number" formControlName="precio">
        </td>
    </tr>    
    <tr>
        <td colspan="2" class="centrado">
            @if (!valor()) {
                <input type="submit" [value]="mensajeBotonFormulario" class="grande" [disabled]="formulario.invalid">
            }
            @if (valor()) {
                <input type="button" [value]="mensajeBotonFormulario" class="grande" [disabled]="formulario.invalid" (click)="modificar()">
            }
        </td>
    </tr>
</table>
</form>

<div>
    <h3>Valores ingresados:</h3>
    <p>
        id:<br>
        nombre:<br>
        valor:<br>
</p>          
<p>
    <b>{{formulario.controls.id.value}}</b><br>
    <b>{{formulario.controls.nombre.value}}</b><br>
    <b>{{formulario.controls.precio.value}}</b><br>

    </p>
</div>

@if(bienFormulario()) {
    <p>El valor se ha creado correctamente.</p>
}

@if(malFormulario()) {
    <p class="error">Se ha producido un error. Tal vez el valor ya exista, o se haya producido el error aleatorio.</p>
}