<h2>Crear utilizando el servicio "datos-directos"</h2>
<p>
    Este componente usa un servicio cuyos métodos devuelven directamente un observable que ejecuta "next", "error" y "complete". 
    Por lo tanto el observable y sus sucripciones se invalidan después de cada uso, y hay que suscribirse una y otra vez, con cada
    ejecución del método del servicio.
</p>

<form [formGroup]="formulario" (ngSubmit)="crear()">
<table  [ngClass]="{enEspera: esperandoFormulario()}">
    <tr>
        <td>
            <label>Identificador</label>
        </td>
        <td>
            <input type="number" formControlName="codigo" step="10" min="1" >
        </td>
    </tr>
    <tr>
        <td>
            <label>Nombre</label>
        </td>
        <td>
            <input type="text" formControlName="nombre">
        </td>
    </tr>
    <tr>
        <td>
            <label>Valor</label>
        </td>
        <td>
            <input type="number" formControlName="valor">
        </td>
    </tr>    
    <tr>
        <td colspan="2" class="centrado">
            <input type="submit" [value]="mensajeBotonFormulario" class="grande" [disabled]="formulario.invalid ">
        </td>
    </tr>
</table>
</form>

<div>
    <h3>Valores ingresados:</h3>
    <p>
        codigo:<br>
        nombre:<br>
        valor:<br>
</p>          
<p>
    <b>{{formulario.controls.codigo.value}}</b><br>
    <b>{{formulario.controls.nombre.value}}</b><br>
    <b>{{formulario.controls.valor.value}}</b><br>

    </p>
</div>

@if(bienFormulario()) {
    <p>El valor se ha creado correctamente.</p>
}

@if(malFormulario()) {
    <p class="error">Se ha producido un error. Tal vez el valor ya exista, o se haya producido el error aleatorio.</p>
}