<app-select 
  [valores]="valores"
  [nombreSeleccionado]="nombreModificar"
  (valorChange)="seleccionar($event)"
  [bienSelect]="bienSelect"
  [malSelect]="malSelect"
  [esperandoSelect]="esperandoSelect">
</app-select>


@if (nombreModificar()) {
<app-formulario 
  [valor]="nombreModificar" 
  (valorChange)="modificar($event)"
  [bienFormulario]="bienFormulario"
  [malFormulario]="malFormulario"
  [esperandoFormulario]="esperandoFormulario"
  [mensajeBotonFormulario]="'Modificar valor'">
</app-formulario>
}
<table>
    <tr>
        <td colspan="4" class="centrado"><button (click)="volverALeerTodo()" class="grande">Volver a leer todo</button></td>
    </tr>
</table>