<h1>Detalle de cliente ({{clienteActualIndex + 1}} de {{lista.length}})</h1>

<table class="tabla-vertical">
  <tbody>
    <tr>
      <td>Código:</td>
      <td>{{clienteActual.id}}</td>
    </tr>
    <tr>
      <td>Nombre completo:</td>
      <td>{{clienteActual.nombre}} {{clienteActual.apellidoUno}} {{clienteActual.apellidoDos}}</td>
    </tr>
    <tr>
      <td>Gasto medio:</td>
      <td class="numero" [ngClass]="{caro: clienteActual.gastoMedio>1000, barato: clienteActual.gastoMedio<20}">
        {{clienteActual.gastoMedio | number:'1.2-2':'es'}}
      </td>
    </tr>
    <tr>
      <td>Origen:</td>
      <td>
        ({{clienteActual.tipo}})
        @switch (clienteActual.tipo) {
          @case('A'){Nacional}
          @case('B'){Comunitario}
          @case('C'){Extracomunitario}
        }
      </td>
    </tr>
  </tbody>
</table>


<p>
<button (click)="anterior()" [disabled]="clienteActualIndex === 0">Anterior</button>
<button (click)="siguiente()" [disabled]="clienteActualIndex === lista.length - 1">Siguiente</button>
</p>